[buildout]
extends = versions.cfg openresty.cfg uwsgi.cfg
versions = versions
include-site-packages = false

parts =
    openresty
    uwsgi
    makedirs
    templates

extensions = buildout.dumppickedversions
dump-picked-versions-file = picked_versions.cfg

[install]
openresty-prefix = ${buildout:parts-directory}/openresty
openresty-env-section =

[config]
nginx-port = 8088

[makedirs]
recipe = z3c.recipe.mkdir
paths =
    var/nginx
    var/uwsgi

[templates]
recipe = z3c.recipe.filetemplate
source-directory = template
